<h2>本当に退会しますか？</h2>

<P>
  退会すると、会員情報や<br>
  これまでの購入履歴が閲覧できなくなります<br>
  退会する場合は、「退会する」をクリックしてください。
</P>

<%= link_to "退会しない", customer_path(@customer) %>
<%= link_to "退会する", customers_withdraw_path, method: :patch, data: {confirm: "本当に退会しますか？"} %>