<div class="container d-flex justify-content-center my-3">
  <div class="row">
    <div class="col-12">
      <h4>本当に退会しますか？</h4>
      <P>
        退会すると、会員情報や<br>
        これまでの購入履歴が閲覧できなくなります<br>
        退会する場合は、「退会する」をクリックしてください。
      </P>
      <%= link_to "退会しない", customer_path(@customer), class: "btn btn-info" %>
      <%= link_to "退会する", customers_withdraw_path, method: :patch, data: {confirm: "本当に退会しますか？"}, class: "btn btn-info" %>
    </div>
  </div>
</div>