@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  font-family: sans-serif;
}

.index-img {
  height: 100%;
  width: 100%;
  border-radius: 15px ;
}

#img {
  height: 200px;
}

.show-img {
  height: 100%;
  width: 100%;
}

#profile-img {
  height: 250px;
  border-radius: 10px;
}

main {
  height: 100%;
  margin-bottom: 50px;
}

footer{
  width: 100%;
  height: 130px;
  padding-top: 2px;
  letter-spacing: 4px;
}

.size{
  color: #638C0B; /*緑色にする*/
}

.navbar {
  background-color: #638C0B;
}

#camp-img{
  height: 200px;
}

#camp-image{
  height: 200px;
  width: 300px;
}

.camp-index-img{
  height: 100%;
  width: 100%;
  border-radius: 15px ;
}

.camp-show-img{
  height: 100%;
  width: 100%;
  border-radius: 5px ;
}

#camp-item-image{
  height: 150px;
  width: 200px;
}

.camp-item-show {
  height: 100%;
  width: 100%;
  border-radius: 5px ;
}

.card {
  background:#fff;
  border:#ddd 5px solid;
  border-radius: 10px;
  transition: all .4s ease-in-out;
}

.card:hover {
  box-shadow: 1px 1px 12px rgba(0,0,0,.65);
}

.btn{
  margin: 1em 0;
  color:#fff;
  border-radius: 10px;
  background: #638C0B;
  // box-shadow: 5px 5px ;
}

.btn:hover{
  background-color: #fff;
  border-color: #638C0B;
  color: #638C0B;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #638C0B;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background-color: #638C0B; /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.comment-img {
  height: 100%;
  width: 100%;
}


#home-top {
  height: 1000px;
  width: 100%;
}

.top-image {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
}

.notice-box {
  width: 100%;
  height: 25px;
}

#notice {
  background-color: #EEFFFF;
}


/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #638C0B;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #638C0B;
  color: #fff;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.card-container.card {
    max-width: 600px;
    padding: 20px 20px;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.tag-color {
  color: #666666;
}

.link {
  color: #4d4d4d;
}

#customer-img {
  height: 100px;
  width: 100px;
}

#customer-index-image {
  height: 100px;
  width: 100px;
}

.customer-index-image{
  height: 100%;
  width: 100%;
}

.customer-index-img {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

#error_explanation {
  color: #FF0000;
  padding: 10px;
  border: thick double red;
  margin-bottom: 10px;
}

// #tag_id {
//   width: 300px;
// }

.vision_api {
  // font-family: 'Kaushan Script', cursive, sans-serif;
  background-color: #638C0B;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.vision_tag {
  // padding: 10px;
  // border: #ddd 2px solid;
  // border-radius: 5px;
  margin-top: 5px;
}

.ranking-number {
  font-size: 1.0rem;
  left: 8px;
  top: 8px;
}



@media screen and (max-width: 1024px) {
 .tabs {
  width: 100%;
 }

  header {
  width: 100%;
  }

  main {
  height: 100%;
 }
}



@media screen and (max-width: 768px) {
 .tabs {
  width: 100%;
 }

 header {
 width: 100%;
 }

 main {
  height: 100%;
 }

 #area {
  width: 100%;
 }
}


@media screen and (max-width: 425px){
.tabs {
  width: 100%;
 }

 header {
 width: 100%;
 }

 main {
  height: 100%;
 }

 #area {
  width: 100%;
 }
}
