<% if camp.camp_favorited_by?(current_customer) %>
  <p>
    <%= link_to camp_camp_favorites_path(camp), method: :delete, remote: true do %>
      <i class="fas fa-heart"></i><%= camp.camp_favorites.count %>
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to camp_camp_favorites_path(camp), method: :post, remote: true do %>
      <i class="far fa-heart"></i><%= camp.camp_favorites.count %>
    <% end %>
  </p>
<% end %>